<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <style>
        h1 {text-align: center;}
        .input-group{
           width: 100%;
            text-align:center;
        }
        div {
            line-height:  2;
            margin-top: 200px;
        }    
      </style>
  </head>
    <script>
      function dismissAddAnotherPopup(win) {
       window.close();
      }
    </script>
<body>
    <div class="container .bg-secondary">
        <div class="text-center">            
            
            <h1>Thank you for your participation!</h1>
            <p> Your information has been saved. You can close exit and end the experiment. 
            </p>
        </div>
        <!--div class="text-center">
            <input type="button" value="Close window" onclick="dismissAddAnotherPopup(this)" />
        </div-->
    </div>    
  </body>
</html>
