<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title> Questionnaire</title>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .radiocontainer label {
        display: block;
        position: relative;
        float: left;
        text-align: center;
        width: 80px;
      }
      input[type="radio"] {
          width:2em;
          height:2em;
      }
      .vertical {
        border-left: 5px solid black;
        height: 900px;
        }
        input[readonly]{
          background-color:transparent;
          border: 0;
          font-size: 1em;
        }
    </style>
    <script>
                // function to calculate the result of the survey
          function tabulateAnswers() {
            //var answerbox = document.getElementById('answer');
            //console.log("here");
            //top.window.close();
          }

          function resetAnswer() {
            var answerbox = document.getElementById('answer');
            answerbox.innerHTML = "Your result will show up here!";
          }
          function dismissAddAnotherPopup(win) {
              win.close();
              top.window.close();
          }
    </script>
  </head>
  <body>
    <div id="wrapper" class="page-header mb-3">
      <h1 class="text-center">Subjective Questionnaire (Scene {{scene_id}})</h1>

      <form action="questionnaire_action" method="post" target="_blank" id="quiz">
        {% csrf_token %}
        <div class="mx-auto">
          <label >Participant ID:</label>
          <input type="text" class=".asd"  value={{participant_id}} name="participantid" readonly/>

          <label >Task ID:</label>
          <input type="text" class=".asd"  value={{task_id}} name="taskid" readonly/>
        </div>
        <div class="container-fluid">

          <div class="row">
        		<div class="col-sm-5">
              {% for t_ms in measurement_left %}
                <p>{{t_ms.question}}</p>
                <div class="radiocontainer">
                  <label>{{t_ms.left}}</label>
                  {% with ''|center:7 as range %}
                  {% for i in range %}
                    <label><input type="radio" name={{t_ms.name}} value={{ forloop.counter }}>{{ forloop.counter }}</label>
                  {% endfor %}
                  {% endwith %}
                  <label>{{t_ms.right}}</label>
                </div>
                <br>
                <br>
              {% endfor %}
        		</div>
            <div class="col-sm-1">
              <div class= "vertical">
              </div>
            </div>
        		<div class="col-sm-5">
              {% for t_ms in measurement_right %}
                <p>{{t_ms.question}}</p>
                <div class="radiocontainer">
                  <label>{{t_ms.left}}</label>
                  {% with ''|center:7 as range %}
                  {% for i in range %}
                    <label><input type="radio" name={{t_ms.name}} value={{ forloop.counter }}>{{ forloop.counter }}</label>
                  {% endfor %}
                  {% endwith %}
                  <label>{{t_ms.right}}</label>
                </div>
                <br>
                <br>
              {% endfor %}
        		</div>
        	</div>
        </div>

        <div class="container-fluid">
          <div class="col-md-12 text-right">
            <button  type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>
            <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>
